/* Burak's styles */

h1 {
    color: #FFFFFF;
}
body {
    background-color: #E65C5C;
}

p{
	color:#FFFFFF;
}
button{
	color: #993333;
	font-size: 20px 
}
p.first{ font-size: 20px  }

#go{
	font-size: 30px
}

h2 {
	color: #FFFFFF;
}
#message{
	font-size:24px
	
}
