body {
    background: #000000; 
  color: grey 
  }

#message$("#message").html("You should listen to " + listen)
 jQuery("#message").fadeIn();
{
  display:none;
}

h1
{
  text-align: center;
  color: #0719E3
}

form
{
  text-align: center;
}



button {
    background-color: #0719E3;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}



button:hover {
    border: none;
    background:#B3B5C9;
    box-shadow: 0px 0px 1px #777;
}

p
{
  text-align:center;
}