
body {
  background-color: #F0FFFF;
}
#welcome{
    display:block;
}
.title{
    text-align: center;
    font-weight: bold;
    font-size: 5em;
}
.undertitle {
    text-align: left;
    float: left;
    margin-left: 3em;
    font-family: inherit;
}


#clock{
	float: left;
	background-image: url("../img/time.png");
	width: 305px;
	height: 304px;
}
#movie, #tv{
  width: 100%;
	float: left;
  display: block;
}

#or{
  text-align: center;
}

#time{
   display:none;
   width: 305px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
   margin-bottom: 50px;
 }

 #pagetv{
 	display:none;
 	font-size: 20px;
 	font-weight: bold;
 	text-align: center;
  }
#yaymessage, #saveforlater, #backtomovie{
  display:none;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  }

  #moviepage, #otherChoices, #message3{
    display: none;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

#hide{
  background-color: #C6DEFF;
  float: right;
  margin-right: 100px;
  width:25%;
  height: 50%;
  font-size: 20px;
  font-weight: bold;
}

#hide, #tv, #movie, {
  cursor: pointer;
  text-align: center;

}

 #yay, #save, #nay, #naybutyay {
  background-color: ;
  margin: 10px;
  text-align: center;
  padding: 5px;
 }
.movieOpening{
  text-align: center;
  font-size: 30px;

}

#message{
  text-align: center;
}

