html {
    font-family: 'Work Sans', sans-serif;
    background: rgb(0, 253, 183);
/*
    background-image: url("../img/unsplash.jpeg");
    background-size: cover;
*/
}

/* hide the results and details by default */
#results, #details {
    display: none;
}

section {
    background: rgba(255, 255, 255, 0.9);
    margin: auto;
    margin-top: 20px;
    max-width: 500px;
    padding: 20px;
    border-radius: 20px;
}

/* select the img with an id="logo" */
/* img#logo find an img with an id="logo" */
/* img #logo find an img, then inside it find another element with an id="logo" */
img#logo {
    margin: auto;
    width: 50%;
    display: block; /* img by default is an "inline" element, so without this line it wouldn't centre */
}

/* apply the following styles to both the select and the button elements... notice the comma in between them */
select, button {
    width: 100%;
    background: black;
    color: white;
    font-size: 200%;
}

button {
    border: none;
    
    /* to make it a circle ...*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#results ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

#results li {
    border: 1px solid #ccc;
    margin-bottom: -1px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: background 0.5s;
}

#results li:hover {
    background: #ccc;
}

#results img {
    max-width: 8rem;
    position: absolute;
}

#results h2 {
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: calc(8rem + 10px);
    line-height: 1;
    font-size: 1.5rem;
    padding-bottom: calc(8rem - 1.5rem - 10px);
}








