/* Liam's Styles */

body {
    background-color: #3366FF;
    color: white;
    text-align: center
    }

#start {
  background: #FFFFFF;
  color: #3366FF;
  font-weight: 700;
  font-size: 36px;
  width: 150px;
  height: 60px;
}

#buttontwo{
  background: #FFFFFF;
  color: #3366FF;
  font-weight: 700;
  font-size: 36px;
  width: 150px;
  height: 60px;	
}

#lessthan5minutes,#lessthan15minutes,#lessthan30minutes,#morethan30minutes {
  background: #3366FF;
  color: #FFFFFF; 
  font-weight: 700;
  font-size: 24px;
  width: 300px;
  height: 60px;
}

/*#lessthan5minutes:hover,#lessthan15minutes:hover,#lessthan30minutes:hover,#morethan30minutes:hover { 
  background: #FFFFFF;
  color: #3366FF;
} */

#buttonthree{
  background: #FFFFFF;
  color: #3366FF;
  font-weight: 700;
  font-size: 36px;	
  width: 150px;
  height: 60px;
}

#ifeellazy,#ifeelactive,#ijustfeelbored,#idontknowhowifeel {
  background: #3366FF;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  width: 300px;
  height: 60px;
}

/*#ifeellazy:hover,#ifeelactive:hover,#ijustfeelbored:hover,#idontknowhowifeel:hover { 
  background: #FFFFFF;
  color: #3366FF;
} */

#buttonfour{
  background: #FFFFFF;
  color: #3366FF;
  font-weight: 700;
  font-size: 36px;
  width: 150px;
  height: 60px;	
}

#sunny,#mild,#raining,#snowing {
  background: #3366FF;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  width: 300px;
  height: 60px;
}

/*#sunny:hover,#mild:hover,#raining:hover,#snowing:hover { 
  background: #FFFFFF;
  color: #3366FF;
} */

#tryagain,#fromthestart {
  background: #3366FF;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 24px;
  width: 200px;
  height: 60px;
}

/*#tryagain:hover,#fromthestart:hover { 
  background: #FFFFFF;
  color: #3366FF;
} */


